root_hash: "$1md5crypthashofpassword"
wireless:
  radios:
    - name: 'radio0'
      type: 'mac80211'
      hwmode: '11g'
      channel: '11'
      path: 'pci0000:00/0000:00:11.0'
      htmode: 'HT20'
      txpower: '10'
      networks:
        - ssid: "scale24"
          password: "test1235"
          vlan: "vlan10"
        - ssid: "staffscale24"
          password: "test1235"
          vlan: "vlan100"
    - name: 'radio1'
      type: 'mac80211'
      hwmode: '11a'
      channel: '54'
      path: 'pci0000:00/0000:00:12.0'
      htmode: 'HT20'
      txpower: '10'
      networks:
        - ssid: "scale5"
          password: "test1235"
          vlan: "vlan10"
        - ssid: "staffscale5"
          password: "test1235"
          vlan: "vlan100"
