root_hash: "$dfjakls$1md5crypthashofpassword"

rsyslog:
  server: 'server2.scale.lan'
  port: '514'
  protocol: 'udp'

zabbix:
  server: 'server3.scale.lan'

wired:
  switches:
    - 'switch0'
# Ports on netgears are reversed.
# i.e. physical port 4 maps to 0 in openwrt
  networks:
    # interface names cant have special characters
    - name: 'mgmt'
      parent_if: 'eth0'
      vlans: ['103', '503']
      type: 'bridge'
      proto: 'dhcp'
      device: 'switch0'
      ports: '0t 5t'
    - name: 'staffwifi'
      parent_if: 'eth0'
      vlans: ['108', '508']
      type: 'bridge'
      proto: 'none'
      device: 'switch0'
      ports: '0t 5t'
    - name: 'scaleslow'
      parent_if: 'eth0'
      vlans: ['100', '500']
      type: 'bridge'
      proto: 'none'
      device: 'switch0'
      ports: '0t 5t'
    - name: 'scalefast'
      parent_if: 'eth0'
      vlans: ['101', '501']
      type: 'bridge'
      proto: 'none'
      device: 'switch0'
      ports: '0t 5t'

wireless:
  radios:
    - name: 'radio0'
      type: 'mac80211'
      hwmode: '11g'
      channel: '11'
      path: 'pci0000:00/0000:00:11.0'
      htmode: 'HT20'
      txpower: '8'
      networks:
        - ssid: 'scale-public-slow'
          password: 'tuxlinux'
          interface: 'scaleslow'
        - ssid: 'scale-staff-24'
          password: 'testpassword'
          interface: 'staffwifi'
    - name: 'radio1'
      type: 'mac80211'
      hwmode: '11a'
      channel: '36'
      path: 'pci0000:00/0000:00:12.0'
      htmode: 'HT20'
      txpower: '8'
      networks:
        - ssid: 'scale-public-fast'
          password: 'tuxlinux'
          interface: 'scalefast'
        - ssid: 'scale-staff-5'
          password: 'testpassword'
          interface: 'staffwifi'
