{% if ansible_fqdn in groups["core"] %}

pool us.pool.ntp.org
pool time.constant.com

restrict 10.0.0.0/8 kod nomodify notrap nopeer
restrict 2001:470:f325::/64 kod nomodify notrap nopeer

{% else %}

{% for item in groups["core"] %}
pool {{ hostvars[item].fqdn }} iburst
{% endfor -%}

interface listen 127.0.0.1
interface listen ::1

{% endif %}

keyfile /etc/chrony/chrony.keys
driftfile /var/lib/chrony/chrony.drift
logdir /var/log/chrony
maxupdateskew 100.0
rtcsync
makestep 1 3