$TTL	86400
@	IN	SOA	localhost. root.localhost. (
                {{ bind_zone_serial }}  ; Serial
                604800		; Refresh
                86400		; Retry
                2419200		; Expire
                86400 )	; Negative Cache TTL
;

$INCLUDE /etc/bind/db.scale.lan
$INCLUDE /etc/bind/db.scale.lan.records.conference
