{% for item in groups["core"] -%}
@	    IN  NS     {{ hostvars[item].fqdn }}.
{% endfor -%}

{% for item in groups["servers"] -%}
{{ hostvars[item].ipv4ptr }}  IN  PTR    {{ hostvars[item].fqdn }}.
{% endfor -%}
