$INCLUDE /etc/bind/db.scale.lan.records.servers
$INCLUDE /etc/bind/db.scale.lan.records.switches
$INCLUDE /etc/bind/db.scale.lan.records.routers
$INCLUDE /etc/bind/db.scale.lan.records.pis
$INCLUDE /etc/bind/db.scale.lan.records.aps
