name: ci
on:
  pull_request:
  push: # This is only run when PRs are merged into master
    branches:
      - master
  workflow_dispatch:
jobs:
  nix_checks:
    name: nix checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - run: nix build -L .#checks.x86_64-linux.pytest-facts
      - run: nix build -L .#checks.x86_64-linux.perl-switches
      - run: nix build -L .#checks.x86_64-linux.openwrt-golden
      - run: nix build -L .#checks.x86_64-linux.formatting
  nix_builds:
    name: nix builds
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - run: nix build -L .#massflash
      - run: nix build -L .#scale-inventory
      - run: nix build -L .#serverspec
