name: ci
on:
  pull_request:
  push: # This is only run when PRs are merged into master
    branches:
      - master
  workflow_dispatch:
jobs:
  nix_checks:
    name: nix flake check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - run: nix flake check -L
        # monitor and bind-master uses IFD
  nix_verify_scale_network:
    name: nix verify scale network
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - run: nix run .#verify-scale-network
  nix_verify_scale_tests:
    name: nix verify scale tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - run: nix run .#verify-scale-tests
